workflows/ghost-chat-v3-phase3-working.json
[
  {
    "updatedAt": "2026-03-12T02:21:52.271Z",
    "createdAt": "2026-03-12T01:10:57.979Z",
    "id": "Yh6h9OJyVCfREbp3",
    "name": "GHOST by Codex",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ghost-chat-v3",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -3792,
          192
        ],
        "id": "2c778d19-e72e-463d-bf07-27d0d68be7e1",
        "name": "Incoming chat",
        "webhookId": "e32fa5be-ed42-4db0-a650-02676c44f900"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "25c6f90a-ae56-41da-9cfd-026d3a837300",
                "name": "conversation_id",
                "value": "={{ $json.body.conversation_id || '' }}",
                "type": "string"
              },
              {
                "id": "3f3f0432-aae2-4384-bfda-b89b17f57d94",
                "name": "message",
                "value": "={{ $json.body.message || '' }}",
                "type": "string"
              },
              {
                "id": "3ada1304-d941-4d4e-bf51-38195554adf6",
                "name": "user_id",
                "value": "={{ $json.body.user_id || '' }}",
                "type": "string"
              },
              {
                "id": "86af24ab-fc51-4d34-8e92-7e48271d6b3b",
                "name": "created_at",
                "value": "={{ $now }}",
                "type": "string"
              },
              {
                "id": "f8418e55-daf5-4535-baa8-152329abba75",
                "name": "force_provider",
                "value": "={{ $json.body.force_provider || '' }}",
                "type": "string"
              },
              {
                "id": "a1839b17-9183-48ff-bc98-b67ff9d7535a",
                "name": "force_model",
                "value": "={{ $json.body.force_model || '' }}",
                "type": "string"
              },
              {
                "id": "8fb5d74d-94e3-48c4-84e5-5ec9e8b3d55f",
                "name": "force_task_class",
                "value": "={{ $json.body.force_task_class || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3568,
          192
        ],
        "id": "44400636-2f1a-41cc-b6f6-acd6d249ef7b",
        "name": "Normalize Input"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH requested_conversation AS (\n  SELECT id, owner_user_id, created_at, updated_at, last_message_at\n  FROM conversations\n  WHERE id = NULLIF($1, '')::uuid\n  LIMIT 1\n)\nSELECT id, owner_user_id, created_at, updated_at, last_message_at\nFROM requested_conversation\nUNION ALL\nSELECT\n  NULL::uuid AS id,\n  NULL::uuid AS owner_user_id,\n  NULL::timestamptz AS created_at,\n  NULL::timestamptz AS updated_at,\n  NULL::timestamptz AS last_message_at\nWHERE NOT EXISTS (SELECT 1 FROM requested_conversation)\nLIMIT 1;",
          "options": {
            "queryReplacement": "={{ $('Normalize Input').item.json.conversation_id || '00000000-0000-0000-0000-000000000000' }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -3344,
          192
        ],
        "id": "b6125aba-13ce-4ae9-b66a-c8a25f202ac4",
        "name": "Find Conversation By ID",
        "credentials": {
          "postgres": {
            "id": "r4pH8PimgUf2t9oM",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "198d6cdc-3caa-4a31-8c31-4966d0294458",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3120,
          192
        ],
        "id": "a876a82d-48bb-41f1-b8a0-e699f279a9a3",
        "name": "Conversation Exists?"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO conversations (\n  id,\n  owner_user_id,\n  title,\n  source,\n  status,\n  metadata,\n  created_at,\n  updated_at,\n  last_message_at\n)\nVALUES (\n  COALESCE(NULLIF($1, '00000000-0000-0000-0000-000000000000')::uuid, gen_random_uuid()),\n  NULLIF($2, 'NULL')::uuid,\n  $3,\n  $4,\n  $5,\n  $6::jsonb,\n  NOW(),\n  NOW(),\n  NOW()\n)\nRETURNING id AS conversation_id, owner_user_id, created_at, updated_at, last_message_at;",
          "options": {
            "queryReplacement": "={{ $('Normalize Input').item.json.conversation_id || '00000000-0000-0000-0000-000000000000' }},\n{{ (($('Normalize Input').item.json.user_id || '').match(/^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/) ? $('Normalize Input').item.json.user_id : 'NULL') }},\n{{ 'Ghost Chat' }},\n{{ 'ghost-chat-v3' }},\n{{ 'active' }},\n{{ '{}' }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -2896,
          288
        ],
        "id": "a7e7bbd6-2dd5-4b37-b1f5-7a9574512af0",
        "name": "Create New Conversation",
        "credentials": {
          "postgres": {
            "id": "r4pH8PimgUf2t9oM",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cd0b804b-38cc-4ef6-b7d6-4186c820e3c6",
                "name": "conversation_id",
                "value": "={{ $('Normalize Input').item.json.conversation_id }}",
                "type": "string"
              },
              {
                "id": "auto-conversation-id",
                "name": "message",
                "value": "={{ $('Normalize Input').item.json.message }}",
                "type": "string"
              },
              {
                "id": "c9a44b54-09d3-4811-9d77-3614d4235e2f",
                "name": "user_id",
                "value": "={{ $('Normalize Input').item.json.user_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2896,
          96
        ],
        "id": "e188f994-0283-4e15-9945-03aa9296c65b",
        "name": "Use Existing Conversation Context"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -2672,
          192
        ],
        "id": "438d79b1-2014-48b7-bba9-a9b67d569d0a",
        "name": "Conversation Context"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO messages (\n  id,\n  conversation_id,\n  role,\n  content,\n  content_format,\n  model_name,\n  metadata,\n  created_at\n)\nVALUES (\n  gen_random_uuid(),\n  $1,\n  'user',\n  $2,\n  'text',\n  NULL,\n  $3::jsonb,\n  NOW()\n)\nRETURNING id, conversation_id, role, content, created_at;",
          "options": {
            "queryReplacement": "={{ $json.conversation_id }},\n{{ $('Normalize Input').item.json.message }},\n{{ '{\"source\":\"ghost-chat-v3\",\"type\":\"user_message\"}' }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -2448,
          192
        ],
        "id": "5f0c6cdb-4ec0-4dcf-a909-30aa4e789621",
        "name": "Save User Message",
        "credentials": {
          "postgres": {
            "id": "r4pH8PimgUf2t9oM",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  role,\n  content,\n  content_format,\n  model_name,\n  metadata,\n  created_at\nFROM (\n  SELECT\n    role,\n    content,\n    content_format,\n    model_name,\n    metadata,\n    created_at\n  FROM messages\n  WHERE conversation_id = $1\n  ORDER BY created_at DESC\n  LIMIT 12\n) recent_messages\nORDER BY created_at ASC;",
          "options": {
            "queryReplacement": "={{ $json.conversation_id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -2016,
          192
        ],
        "id": "fed0c559-5816-43b2-b5b7-6dc0f2d3fbfb",
        "name": "Load Recent Messages",
        "credentials": {
          "postgres": {
            "id": "r4pH8PimgUf2t9oM",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ec1b4de7-21bd-4bd4-9670-2fe04addb921",
                "name": "system_prompt",
                "value": "={{ \"You are Ghost \ud83d\udd2e \u2014 an efficient, direct AI assistant.\\n\" + \"Be concise, useful, and factual.\\n\" + \"Do not use filler.\\n\" + \"Do not pretend certainty when unsure.\\n\" + \"Prefer practical answers.\\n\" + \"When context exists in the conversation, use it.\\n\" + \"When the user asks for code or technical help, be precise and implementation-oriented.\\n\" }}",
                "type": "string"
              },
              {
                "id": "7f78195e-40f0-42f9-a348-cbe0af1eb0c0",
                "name": "conversation_id",
                "value": "={{ $('Touch Conversation Timestamp').item.json.conversation_id || $('Create New Conversation').item.json.conversation_id || $('Use Existing Conversation Context').item.json.conversation_id || '' }}",
                "type": "string"
              },
              {
                "id": "4d53c306-b6e0-40a2-87fd-08cbc37d80a1",
                "name": "force_provider",
                "value": "={{ $('Normalize Input').item.json.force_provider || '' }}",
                "type": "string"
              },
              {
                "id": "bcf331f9-b0e3-4651-b4e1-22744204fbe2",
                "name": "force_model",
                "value": "={{ $('Normalize Input').item.json.force_model || '' }}",
                "type": "string"
              },
              {
                "id": "e66afeb6-230b-4dba-9d87-6dff2c9f9666",
                "name": "force_task_class",
                "value": "={{ $('Normalize Input').item.json.force_task_class || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1792,
          192
        ],
        "id": "fa4a63da-87c7-488d-8cdb-48e66bf38265",
        "name": "Build Ghost System Prompt"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst history = $items(\"Load Recent Messages\")\n  .map(entry => ({\n    role: entry.json.role,\n    content: entry.json.content,\n  }))\n  .filter(message => message.role && message.content);\n\nconst systemPrompt = item.system_prompt;\nconst messages = [\n  { role: \"system\", content: systemPrompt },\n  ...history,\n];\n\nreturn [{ json: { ...item, messages, system_prompt: systemPrompt } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1568,
          192
        ],
        "id": "bc88486a-aa97-4efc-a24a-d21aa5337764",
        "name": "Build Structured Messages"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst messages = item.messages || [];\nconst prompt = messages.map(m => `${m.role}: ${m.content}`).join(\"\\n\\n\") + \"\\n\\nassistant:\";\nreturn [{ json: { ...item, prompt } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1344,
          192
        ],
        "id": "0dfedba6-5af5-43dc-b76e-f07892abfc80",
        "name": "Render Model Prompt"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst messages = item.messages || [];\nconst lastUser = [...messages].reverse().find((message) => message.role === \"user\");\nconst text = (lastUser?.content || \"\").toLowerCase();\n\nconst lightweightLocalSignals = [\n  \"summarize\",\n  \"summary\",\n  \"classify\",\n  \"classification\",\n  \"extract\",\n  \"extraction\",\n  \"tag\",\n  \"tags\",\n  \"title\",\n  \"rename\",\n  \"metadata\",\n  \"rewrite briefly\",\n  \"shorten\",\n  \"bullet points\",\n  \"tl;dr\",\n  \"keywords\",\n  \"categorize\",\n  \"sentiment\",\n];\n\nconst technicalWorkSignals = [\n  \"code\",\n  \"python\",\n  \"javascript\",\n  \"typescript\",\n  \"sql\",\n  \"bash\",\n  \"shell\",\n  \"script\",\n  \"regex\",\n  \"bug\",\n  \"debug\",\n  \"stack trace\",\n  \"exception\",\n  \"error\",\n  \"fix\",\n  \"refactor\",\n  \"function\",\n  \"class\",\n  \"module\",\n  \"api\",\n  \"json\",\n  \"yaml\",\n  \"docker\",\n  \"docker compose\",\n  \"container\",\n  \"kubernetes\",\n  \"linux\",\n  \"terminal\",\n  \"cli\",\n  \"database\",\n  \"postgres\",\n  \"query\",\n  \"migration\",\n  \"schema\",\n  \"nginx\",\n  \"config\",\n  \"deploy\",\n  \"deployment\",\n  \"devops\",\n  \"infrastructure\",\n  \"repository\",\n  \"repo\",\n  \"git\",\n  \"test failure\",\n  \"failing test\",\n  \"compile\",\n  \"build failed\",\n  \"implementation\",\n];\n\nconst technicalIntentSignals = [\n  \"write a\",\n  \"implement\",\n  \"update the code\",\n  \"modify the workflow\",\n  \"patch\",\n  \"edit the file\",\n  \"run this command\",\n  \"investigate\",\n  \"why is this failing\",\n  \"how do i fix\",\n];\n\nlet request_type = \"chat\";\n\nif (lightweightLocalSignals.some((signal) => text.includes(signal))) {\n  request_type = \"lightweight_local_task\";\n}\n\nif (\n  technicalWorkSignals.some((signal) => text.includes(signal)) ||\n  technicalIntentSignals.some((signal) => text.includes(signal))\n) {\n  request_type = \"technical_work\";\n}\n\nreturn [{ json: { ...item, request_type } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -896,
          192
        ],
        "id": "34834cbf-6a90-45ea-b4e4-d397ce7dfd08",
        "name": "Classify request"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst config = item.config || {};\nconst requestedTaskClass = item.force_task_class || item.request_type || \"chat\";\nconst policies = config.provider_policies || {};\nconst routeChain = policies[requestedTaskClass] || policies.chat || [];\nconst defaultCodexModel = config.codex?.model_alias || \"gpt-5.4\";\nlet selected = routeChain[0] || { provider: \"ollama\", model: \"qwen3:14b\" };\n\nif (item.force_provider) {\n  const matchedRoute = routeChain.find((route) => route.provider === item.force_provider);\n  if (matchedRoute) {\n    selected = matchedRoute;\n  } else if (item.force_provider === \"codex_oauth_worker\") {\n    selected = { provider: item.force_provider, model: defaultCodexModel };\n  } else {\n    selected = { provider: item.force_provider, model: item.force_model || selected.model };\n  }\n}\n\nif (item.force_model) {\n  selected = { provider: selected.provider, model: item.force_model };\n}\n\nreturn [{ json: { ...item, task_class: requestedTaskClass, provider: selected.provider, selected_model: selected.model, route_chain: routeChain, fallback_chain: routeChain.slice(1) } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -672,
          192
        ],
        "id": "367325d4-4a53-4aa8-b355-d969ef1422df",
        "name": "Select Route Plan"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst messages = Array.isArray(item.messages) ? item.messages : [];\nconst lastUser = [...messages].reverse().find((message) => message.role === 'user');\nconst sourceText = (lastUser?.content || item.prompt || '').trim();\nconst findings = [];\nlet riskLevel = 'safe';\n\nconst destructiveRules = [\n  { label: 'delete_or_rm', pattern: /(^|\\s)(rm\\s+-rf|rm\\s+-r|rm\\s+|delete\\s+(the\\s+)?file|delete\\s+(the\\s+)?directory|remove\\s+(the\\s+)?file|unlink\\s+|shred\\s+)/i, reason: 'Requests file deletion or removal.' },\n  { label: 'docker_live_change', pattern: /docker\\s+compose\\s+(down|restart|up|stop)|docker\\s+(restart|stop)\\b/i, reason: 'Requests live container lifecycle changes.' },\n  { label: 'destructive_sql', pattern: /\\b(drop\\s+table|drop\\s+database|truncate\\s+table|delete\\s+from|alter\\s+table\\s+.*drop\\s+column)\\b/i, reason: 'Contains destructive SQL operations.' },\n  { label: 'critical_move', pattern: /\\b(move|mv|rename)\\b.*\\b(docker-compose\\.ya?ml|\\.env|systemd|workflow|workflows\\/|base\\/)\\b/i, reason: 'Moves or renames critical runtime files.' },\n];\n\nconst cautionRules = [\n  { label: 'critical_file_edit', pattern: /\\b(edit|modify|change|update|patch|rewrite)\\b.*\\b(docker-compose\\.ya?ml|\\.env(\\.|\\b)|systemd|service unit|workflow id|production workflow|ghost-chat-v3|Yh6h9OJyVCfREbp3)\\b/i, reason: 'Touches critical runtime configuration or live workflow identifiers.' },\n  { label: 'broad_sql', pattern: /\\b(update|delete)\\b.*\\b(sql|postgres|database|table)\\b/i, reason: 'Requests a database-changing operation.' },\n  { label: 'infrastructure_change', pattern: /\\b(deploy|deployment|infrastructure|nginx|kubernetes|compose file|dockerfile)\\b/i, reason: 'Requests infrastructure-related changes.' },\n];\n\nfor (const rule of destructiveRules) {\n  if (rule.pattern.test(sourceText)) findings.push({ level: 'destructive', code: rule.label, reason: rule.reason });\n}\nif (!findings.length) {\n  for (const rule of cautionRules) {\n    if (rule.pattern.test(sourceText)) findings.push({ level: 'caution', code: rule.label, reason: rule.reason });\n  }\n}\nif (findings.some((finding) => finding.level === 'destructive')) riskLevel = 'destructive';\nelse if (findings.some((finding) => finding.level === 'caution')) riskLevel = 'caution';\n\nconst approvalRequired = item.provider === 'codex_oauth_worker' && riskLevel !== 'safe';\nconst taskSummary = sourceText.replace(/\\s+/g, ' ').trim().slice(0, 180);\n\nreturn [{ json: {\n  ...item,\n  task_summary: taskSummary,\n  approval_required: approvalRequired,\n  risk_level: riskLevel,\n  risk_reasons: findings.map((finding) => finding.reason),\n  risk_codes: findings.map((finding) => finding.code),\n  codex_command_status: approvalRequired ? 'blocked_pending_approval' : (item.provider === 'codex_oauth_worker' ? 'pending' : 'not_applicable'),\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          192
        ],
        "id": "9c9f8c66-a681-4819-8171-042e032d8391",
        "name": "Assess Approval Risk"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:11435/api/generate",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "={{ $json.selected_model }}"
              },
              {
                "name": "stream",
                "value": "={{ false }}"
              },
              {
                "name": "prompt",
                "value": "={{ $json.prompt }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          224,
          192
        ],
        "id": "13075b7f-6119-4d8b-9c0c-7607b36e7611",
        "name": "Call Ollama"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO messages (\n  id,\n  conversation_id,\n  role,\n  content,\n  content_format,\n  model_name,\n  metadata,\n  created_at\n)\nVALUES (\n  gen_random_uuid(),\n  $1,\n  'assistant',\n  $2,\n  'text',\n  $3,\n  $4::jsonb,\n  NOW()\n)\nRETURNING id, conversation_id, role, content, created_at;",
          "options": {
            "queryReplacement": "={{ [$json.conversation_id, $json.reply, $json.model_used || null, { provider_used: $json.provider_used || null, task_class: $json.task_class || null, approval_required: $json.approval_required || false, risk_level: $json.risk_level || 'safe', risk_reasons: $json.risk_reasons || [], task_summary: $json.task_summary || '', command_success: $json.command_success ? true : false, command_exit_code: $json.command_exit_code || null, stdout_summary: $json.stdout_summary || '', stderr_summary: $json.stderr_summary || '', artifact_path: $json.artifact_path || null, codex_command_status: $json.codex_command_status || 'not_applicable', error_type: $json.error_type || null }] }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1040,
          320
        ],
        "id": "473198b8-048b-4219-be58-90f5dd049813",
        "name": "Save Assistant Reply",
        "credentials": {
          "postgres": {
            "id": "r4pH8PimgUf2t9oM",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e485b90a-f541-4bb0-9e45-de32126cdfc0",
                "name": "conversation_id",
                "value": "={{ $json.conversation_id || '' }}",
                "type": "string"
              },
              {
                "id": "f3f6d53d-a82b-44e1-abaf-3064df10e347",
                "name": "reply",
                "value": "={{ $json.reply || '' }}",
                "type": "string"
              },
              {
                "id": "93373644-a981-493c-8623-897becbec7b9",
                "name": "provider_used",
                "value": "={{ $json.provider_used || '' }}",
                "type": "string"
              },
              {
                "id": "3917f5c8-8e51-4f2c-ae88-4a3d371e4036",
                "name": "model_used",
                "value": "={{ $json.model_used || '' }}",
                "type": "string"
              },
              {
                "id": "1b48547c-ed4f-4a54-8ba1-63381bb5d2ef",
                "name": "task_class",
                "value": "={{ $json.task_class || '' }}",
                "type": "string"
              },
              {
                "id": "ac746a57-e5e9-4c69-8769-997d2a12ed0a",
                "name": "approval_required",
                "value": "={{ $json.approval_required || false }}",
                "type": "boolean"
              },
              {
                "id": "3406e643-7bac-4a04-b3ec-bfb759d2cd20",
                "name": "risk_level",
                "value": "={{ $json.risk_level || \"safe\" }}",
                "type": "string"
              },
              {
                "id": "723aab5b-cdab-49af-97a2-617f3ff5caab",
                "name": "risk_reasons",
                "value": "={{ $json.risk_reasons || [] }}",
                "type": "array"
              },
              {
                "id": "1714593e-9d75-413a-b352-c57ca0aa05dc",
                "name": "task_summary",
                "value": "={{ $json.task_summary || \"\" }}",
                "type": "string"
              },
              {
                "id": "8a2b1417-9bed-411a-8978-f55332af68f8",
                "name": "command_success",
                "value": "={{ $json.command_success ? true : false }}",
                "type": "boolean"
              },
              {
                "id": "40668f34-cca4-4d11-86fb-d72c93861bde",
                "name": "command_exit_code",
                "value": "={{ $json.command_exit_code !== null && $json.command_exit_code !== undefined ? String($json.command_exit_code) : \"\" }}",
                "type": "string"
              },
              {
                "id": "17ed53ee-30cc-4c00-aace-263677a45723",
                "name": "stdout_summary",
                "value": "={{ $json.stdout_summary || \"\" }}",
                "type": "string"
              },
              {
                "id": "e932b547-0514-485c-8aab-36f4a389cc79",
                "name": "stderr_summary",
                "value": "={{ $json.stderr_summary || \"\" }}",
                "type": "string"
              },
              {
                "id": "342eb95d-259e-41ed-9f79-395f06468fa4",
                "name": "artifact_path",
                "value": "={{ $json.artifact_path || \"\" }}",
                "type": "string"
              },
              {
                "id": "e5c4bd7d-ac70-49de-832e-13f6f625d2a3",
                "name": "codex_command_status",
                "value": "={{ $json.codex_command_status || \"not_applicable\" }}",
                "type": "string"
              },
              {
                "id": "36671ace-2d51-4429-9850-981d77689a20",
                "name": "error_type",
                "value": "={{ $json.error_type || \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          208
        ],
        "id": "1928af76-cb44-4b74-80eb-e6dd5d10a0cb",
        "name": "Build API Response"
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nconst context = $('Expose Route Metadata').item.json;\nconst reply = response.response ?? response.message?.content ?? response.data?.response ?? '[no-reply]';\nreturn [{ json: {\n  ...context,\n  ...response,\n  reply,\n  approval_required: context.approval_required || false,\n  risk_level: context.risk_level || 'safe',\n  risk_reasons: context.risk_reasons || [],\n  risk_codes: context.risk_codes || [],\n  task_summary: context.task_summary || '',\n  command_success: true,\n  command_exit_code: null,\n  stdout_summary: '',\n  stderr_summary: '',\n  artifact_path: '',\n  codex_command_status: 'not_applicable',\n  error_type: '',\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          192
        ],
        "id": "3013b033-5c61-4a05-88b7-1f625ba36edc",
        "name": "Normalize Ollama Reply"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\n\nconst config = {\n  openai: {\n    endpoint: \"https://api.openai.com/v1/responses\",\n    chat_model_alias: \"gpt-4.1-mini\",\n    max_output_tokens: 500\n  },\n  codex: {\n    model_alias: \"gpt-5.4\",\n    worker_mode: \"oauth_cli_wrapper\"\n  },\n  ollama: {\n    small_local_instruction_model: \"qwen2.5:3b-instruct\",\n    chat_model: \"qwen3:8b\",\n    strong_chat_model: \"qwen3:14b\",\n    coding_model: \"qwen2.5-coder:14b\",\n    strong_coding_model: \"qwen3-coder:30b-a3b-q4_K_M\"\n  },\n  provider_policies: {\n    chat: [\n      { provider: \"openai_api\", model: \"gpt-4.1-mini\" },\n      { provider: \"ollama\", model: \"qwen3:8b\" },\n      { provider: \"ollama\", model: \"qwen3:14b\" }\n    ],\n    technical_work: [\n      { provider: \"codex_oauth_worker\", model: \"gpt-5.4\" },\n      { provider: \"ollama\", model: \"qwen2.5-coder:14b\" },\n      { provider: \"ollama\", model: \"qwen3-coder:30b-a3b-q4_K_M\" }\n    ],\n    lightweight_local_task: [\n      { provider: \"ollama\", model: \"qwen2.5:3b-instruct\" },\n      { provider: \"ollama\", model: \"qwen3:8b\" }\n    ]\n  }\n};\n\nreturn [{ json: { ...item, config } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1120,
          192
        ],
        "id": "45631b44-3cf9-44c2-8bfa-8211c17f86e9",
        "name": "Runtime Policy Config"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "29ad5d38-f1ee-423b-8775-b92cedf97f28",
                "leftValue": "={{ $json.provider }}",
                "rightValue": "openai_api",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -224,
          192
        ],
        "id": "ace739d5-9789-4a36-a9f9-15edb81b2bcb",
        "name": "Provider Is OpenAI API?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "522f66be-7b24-4a2d-a329-bba5058e55ce",
                "leftValue": "={{ $json.provider }}",
                "rightValue": "codex_oauth_worker",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          288
        ],
        "id": "f69eb71d-46af-4da6-ab19-126d79af9d22",
        "name": "Provider Is Codex OAuth?"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nreturn [{ json: { ...item, openai_request: { model: item.selected_model, input: item.prompt, instructions: item.system_prompt, temperature: item.config?.openai?.temperature ?? 0.6, max_output_tokens: item.config?.openai?.max_output_tokens ?? 1200 } } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "4616d862-7990-4dff-aa38-1b2f9f271535",
        "name": "Build OpenAI Chat Request"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.openai.com/v1/responses",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "={{ $json.selected_model }}"
              },
              {
                "name": "input",
                "value": "={{ $json.prompt }}"
              },
              {
                "name": "instructions",
                "value": "={{ $json.system_prompt }}"
              },
              {
                "name": "max_output_tokens",
                "value": "={{ $json.config.openai.max_output_tokens }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          224,
          0
        ],
        "id": "7f904fc3-5a80-4040-b952-48ee5f8511bc",
        "name": "Call OpenAI Chat",
        "credentials": {
          "httpHeaderAuth": {
            "id": "YQzVSBDDIUnZHT10",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nconst context = $('Build OpenAI Chat Request').item.json;\nconst output = Array.isArray(response.output) ? response.output : [];\nconst outputText = response.output_text\n  || output.flatMap(part => Array.isArray(part.content) ? part.content : [])\n    .map(content => content.text || content.value || '')\n    .join('')\n  || response.response?.output_text\n  || response.response\n  || '[no-openai-reply]';\nreturn [{ json: {\n  ...context,\n  ...response,\n  reply: outputText,\n  approval_required: context.approval_required || false,\n  risk_level: context.risk_level || 'safe',\n  risk_reasons: context.risk_reasons || [],\n  risk_codes: context.risk_codes || [],\n  task_summary: context.task_summary || '',\n  command_success: true,\n  command_exit_code: null,\n  stdout_summary: '',\n  stderr_summary: '',\n  artifact_path: '',\n  codex_command_status: 'not_applicable',\n  error_type: '',\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ],
        "id": "8eee5860-d15d-4e1a-9289-f94d16edd993",
        "name": "Normalize OpenAI Reply"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst safeConversationId = (item.conversation_id || 'reply').replace(/[^a-zA-Z0-9_-]/g, '_');\nconst model = item.selected_model || item.config?.codex?.model_alias || 'gpt-5.4';\nconst script = [\n  'set +e',\n  'mkdir -p /home/node/.n8n/ghost-artifacts',\n  `convo=\"${safeConversationId}\"`,\n  'ts=$(date -u +%Y%m%dT%H%M%SZ)',\n  `base=\"/home/node/.n8n/ghost-artifacts/${safeConversationId}-\\${ts}\"`,\n  'reply_file=\"${base}.reply.txt\"',\n  'stdout_file=\"${base}.stdout.txt\"',\n  'stderr_file=\"${base}.stderr.txt\"',\n  'prompt=\"$1\"',\n  `/opt/ghost/bin/codex-safe exec --skip-git-repo-check --model ${model} --sandbox workspace-write -o \"$reply_file\" \"$prompt\" >\"$stdout_file\" 2>\"$stderr_file\"`,\n  'status=$?',\n  \"node -e '\\nconst fs = require(\\\"fs\\\");\\nconst [replyPath, stdoutPath, stderrPath, statusText] = process.argv.slice(1);\\nconst read = (filePath) => { try { return fs.readFileSync(filePath, \\\"utf8\\\"); } catch { return \\\"\\\"; } };\\nconst summarize = (value) => value.replace(/\\\\s+/g, \\\" \\\" ).trim().slice(0, 600);\\nconst reply = read(replyPath).trim();\\nconst stdout = read(stdoutPath);\\nconst stderr = read(stderrPath);\\nconst exitCode = Number(statusText || 1);\\nconst payload = {\\n  reply,\\n  artifact_path: replyPath,\\n  stdout_path: stdoutPath,\\n  stderr_path: stderrPath,\\n  success: exitCode === 0 && reply.length > 0,\\n  command_exit_code: exitCode,\\n  stdout_summary: summarize(stdout),\\n  stderr_summary: summarize(stderr),\\n};\\nprocess.stdout.write(JSON.stringify(payload));\\n' \\\"$reply_file\\\" \\\"$stdout_file\\\" \\\"$stderr_file\\\" \\\"$status\\\"\",\n].join('\\n');\nreturn [{ json: { ...item, codex_command: 'sh -lc ' + JSON.stringify(script) + ' -- ' + JSON.stringify(item.prompt || '') } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          320
        ],
        "id": "704a55f8-6edf-493c-adc7-0d8933627832",
        "name": "Build Codex Command"
      },
      {
        "parameters": {
          "command": "={{ $json.codex_command }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          448,
          320
        ],
        "id": "b5202b29-8c2c-46ed-9b54-daa5afef003d",
        "name": "Execute Codex Command",
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const result = $input.first().json;\nconst context = $('Expose Route Metadata').item.json;\nconst rawStdout = typeof result.stdout === 'string' ? result.stdout.trim() : '';\nlet payload = {};\nif (rawStdout) {\n  try {\n    payload = JSON.parse(rawStdout);\n  } catch (error) {\n    payload = {\n      reply: rawStdout,\n      success: true,\n      command_exit_code: 0,\n      stdout_summary: rawStdout.slice(0, 600),\n      stderr_summary: typeof result.stderr === 'string' ? result.stderr.trim().slice(0, 600) : '',\n      artifact_path: '',\n    };\n  }\n}\nconst stderrSummary = payload.stderr_summary || (typeof result.stderr === 'string' ? result.stderr.trim().slice(0, 600) : '');\nconst commandSuccess = Boolean(payload.success);\nconst reply = (payload.reply || '').trim()\n  || (commandSuccess\n    ? '[no-codex-reply]'\n    : `Codex execution failed${payload.command_exit_code !== undefined && payload.command_exit_code !== null ? ` (exit ${payload.command_exit_code})` : ''}. ${stderrSummary || 'No additional stderr was captured.'}`);\nreturn [{ json: {\n  ...context,\n  ...result,\n  codex_raw_result: payload,\n  conversation_id: context.conversation_id || '',\n  reply,\n  provider_used: context.provider || '',\n  model_used: context.selected_model || '',\n  task_class: context.task_class || '',\n  approval_required: context.approval_required || false,\n  risk_level: context.risk_level || 'safe',\n  risk_reasons: context.risk_reasons || [],\n  risk_codes: context.risk_codes || [],\n  task_summary: context.task_summary || '',\n  command_success: commandSuccess,\n  command_exit_code: payload.command_exit_code ?? null,\n  stdout_summary: payload.stdout_summary || '',\n  stderr_summary: stderrSummary,\n  artifact_path: payload.artifact_path || '',\n  codex_command_status: commandSuccess ? 'succeeded' : 'failed',\n  error_type: commandSuccess ? '' : 'codex_command_failed',\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          384
        ],
        "id": "d94a09f5-61b3-4d5a-817d-d0ed661ac204",
        "name": "Normalize Codex Reply"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6b6872af-2edd-4c3d-aaea-e33b779e9c43",
                "name": "provider_used",
                "value": "={{ $json.provider || '' }}",
                "type": "string"
              },
              {
                "id": "79663b54-3041-4f0b-b56a-47328b476b0a",
                "name": "model_used",
                "value": "={{ $json.selected_model || '' }}",
                "type": "string"
              },
              {
                "id": "2381585a-8083-4feb-b4d7-dca34433e8b3",
                "name": "task_class",
                "value": "={{ $json.task_class || '' }}",
                "type": "string"
              },
              {
                "id": "a250f407-def0-482a-b251-cded010a78a1",
                "name": "conversation_id",
                "value": "={{ $json.conversation_id || '' }}",
                "type": "string"
              },
              {
                "id": "84062eb1-8cca-41ea-be96-5a09c15b0a24",
                "name": "system_prompt",
                "value": "={{ $json.system_prompt || '' }}",
                "type": "string"
              },
              {
                "id": "225cda72-78c4-486d-b501-ac8f87bdb14d",
                "name": "prompt",
                "value": "={{ $json.prompt || '' }}",
                "type": "string"
              },
              {
                "id": "9d1c60e8-e411-4d25-9325-3b9de256abb7",
                "name": "messages",
                "value": "={{ $json.messages || [] }}",
                "type": "array"
              },
              {
                "id": "fbe82153-50b1-439c-89ee-334a109caf21",
                "name": "config",
                "value": "={{ $json.config || {} }}",
                "type": "object"
              },
              {
                "id": "c7ef1f72-6253-4f15-9170-c5923f6e3697",
                "name": "selected_model",
                "value": "={{ $json.selected_model || '' }}",
                "type": "string"
              },
              {
                "id": "dc417adc-d797-4025-bf4b-0f26a1ec5f12",
                "name": "provider",
                "value": "={{ $json.provider || '' }}",
                "type": "string"
              },
              {
                "id": "3175e236-53ba-4771-8d01-c59ea304228f",
                "name": "approval_required",
                "value": "={{ $json.approval_required || false }}",
                "type": "boolean"
              },
              {
                "id": "a8732bc8-92d4-448f-ab3c-8c59a5393a4a",
                "name": "risk_level",
                "value": "={{ $json.risk_level || \"safe\" }}",
                "type": "string"
              },
              {
                "id": "332f6402-74dd-486a-a820-b72c5c7dce87",
                "name": "risk_reasons",
                "value": "={{ $json.risk_reasons || [] }}",
                "type": "array"
              },
              {
                "id": "bf75f7d4-274e-489b-9ef9-796b2bea763a",
                "name": "risk_codes",
                "value": "={{ $json.risk_codes || [] }}",
                "type": "array"
              },
              {
                "id": "6da07e41-8311-4ec3-b27d-c2a5e8409488",
                "name": "task_summary",
                "value": "={{ $json.task_summary || \"\" }}",
                "type": "string"
              },
              {
                "id": "9ff4b4ac-4904-47c8-a844-b6d194f334c4",
                "name": "codex_command_status",
                "value": "={{ $json.codex_command_status || \"not_applicable\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -448,
          192
        ],
        "id": "653c90b8-c01d-425e-9c10-06070cb59dc3",
        "name": "Expose Route Metadata"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE conversations\nSET\n  updated_at = NOW(),\n  last_message_at = NOW()\nWHERE id = $1\nRETURNING id AS conversation_id, updated_at, last_message_at;",
          "options": {
            "queryReplacement": "={{ $json.conversation_id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -2240,
          192
        ],
        "id": "3b5fba43-7782-450b-90b0-778aa3e9779f",
        "name": "Touch Conversation Timestamp",
        "credentials": {
          "postgres": {
            "id": "r4pH8PimgUf2t9oM",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE conversations\nSET\n  updated_at = NOW(),\n  last_message_at = NOW()\nWHERE id = $1\nRETURNING id AS conversation_id, updated_at, last_message_at;",
          "options": {
            "queryReplacement": "={{ $json.conversation_id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1264,
          320
        ],
        "id": "a677211c-bc35-4831-9bbf-88ccebb08990",
        "name": "Touch Conversation Timestamp After Reply",
        "credentials": {
          "postgres": {
            "id": "r4pH8PimgUf2t9oM",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1040,
          96
        ],
        "id": "983c58c0-3e8d-477c-b8eb-510109ae04e1",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "aad8a3f0-41b1-4e82-b4f2-1fe85ce1f92b",
                "leftValue": "={{ $json.approval_required }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          224,
          320
        ],
        "id": "3731505f-64ff-4b77-87f8-91bcbb5a7ff4",
        "name": "Codex Approval Required?"
      },
      {
        "parameters": {
          "jsCode": "const context = $input.first().json;\nconst reasons = Array.isArray(context.risk_reasons) && context.risk_reasons.length\n  ? context.risk_reasons.join(' ')\n  : 'Risk policy requires review.';\nconst reply = `Approval required before Codex execution. Risk level: ${context.risk_level || 'unknown'}. ${reasons}`;\nreturn [{ json: {\n  ...context,\n  reply,\n  provider_used: context.provider || '',\n  model_used: context.selected_model || '',\n  task_class: context.task_class || '',\n  command_success: false,\n  error_type: 'approval_required',\n  codex_command_status: 'blocked_pending_approval',\n  artifact_path: '',\n  stdout_summary: '',\n  stderr_summary: reasons,\n  command_exit_code: null,\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          224
        ],
        "id": "71884e8a-8328-4f31-8255-f53a2211f5a9",
        "name": "Build Approval Required Response"
      }
    ],
    "connections": {
      "Incoming chat": {
        "main": [
          [
            {
              "node": "Normalize Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Input": {
        "main": [
          [
            {
              "node": "Find Conversation By ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Conversation By ID": {
        "main": [
          [
            {
              "node": "Conversation Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Conversation Exists?": {
        "main": [
          [
            {
              "node": "Use Existing Conversation Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New Conversation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Existing Conversation Context": {
        "main": [
          [
            {
              "node": "Conversation Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create New Conversation": {
        "main": [
          [
            {
              "node": "Conversation Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Conversation Context": {
        "main": [
          [
            {
              "node": "Save User Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save User Message": {
        "main": [
          [
            {
              "node": "Touch Conversation Timestamp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Recent Messages": {
        "main": [
          [
            {
              "node": "Build Ghost System Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Ghost System Prompt": {
        "main": [
          [
            {
              "node": "Build Structured Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Structured Messages": {
        "main": [
          [
            {
              "node": "Render Model Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Model Prompt": {
        "main": [
          [
            {
              "node": "Runtime Policy Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Runtime Policy Config": {
        "main": [
          [
            {
              "node": "Classify request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Classify request": {
        "main": [
          [
            {
              "node": "Select Route Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Route Plan": {
        "main": [
          [
            {
              "node": "Assess Approval Risk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Provider Is OpenAI API?": {
        "main": [
          [
            {
              "node": "Build OpenAI Chat Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Provider Is Codex OAuth?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build OpenAI Chat Request": {
        "main": [
          [
            {
              "node": "Call OpenAI Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call OpenAI Chat": {
        "main": [
          [
            {
              "node": "Normalize OpenAI Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize OpenAI Reply": {
        "main": [
          [
            {
              "node": "Build API Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Provider Is Codex OAuth?": {
        "main": [
          [
            {
              "node": "Codex Approval Required?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call Ollama",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Ollama": {
        "main": [
          [
            {
              "node": "Normalize Ollama Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Ollama Reply": {
        "main": [
          [
            {
              "node": "Build API Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Assistant Reply": {
        "main": [
          [
            {
              "node": "Touch Conversation Timestamp After Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expose Route Metadata": {
        "main": [
          [
            {
              "node": "Provider Is OpenAI API?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Touch Conversation Timestamp": {
        "main": [
          [
            {
              "node": "Load Recent Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build API Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "Save Assistant Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Codex Command": {
        "main": [
          [
            {
              "node": "Normalize Codex Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Codex Reply": {
        "main": [
          [
            {
              "node": "Build API Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Assess Approval Risk": {
        "main": [
          [
            {
              "node": "Expose Route Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Codex Approval Required?": {
        "main": [
          [
            {
              "node": "Build Approval Required Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Codex Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Approval Required Response": {
        "main": [
          [
            {
              "node": "Build API Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Codex Command": {
        "main": [
          [
            {
              "node": "Execute Codex Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "30354ad3-7cbb-45ef-9e0c-64cff114c97d",
    "activeVersionId": "30354ad3-7cbb-45ef-9e0c-64cff114c97d",
    "versionCounter": 8,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-03-12T01:10:57.979Z",
        "createdAt": "2026-03-12T01:10:57.979Z",
        "role": "workflow:owner",
        "workflowId": "Yh6h9OJyVCfREbp3",
        "projectId": "Dy430kHXAiPu4Qrc",
        "project": {
          "updatedAt": "2026-03-11T16:36:32.279Z",
          "createdAt": "2026-03-11T16:35:10.642Z",
          "id": "Dy430kHXAiPu4Qrc",
          "name": "Goti DM <serial77@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "7ef1e7a5-f86b-4fc0-b166-eafa8d53ede3"
        }
      }
    ],
    "versionMetadata": {
      "name": "Version d68036b2",
      "description": ""
    }
  }
]